Package: com.minis.xianyumon
Name: XianyuMon
Version: 0.2.0
Architecture: iphoneos-arm64
Description: Monitor Xianyu local second-hand phone recycling listings, notify on match.
Maintainer: minis
Author: minis
Section: Tweaks
Depends: mobilesubstrate
